<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="IskolarAidDB"
             connectionString="server=localhost;port=3306;database=iskolaraid;uid=root;password=;SslMode=none;AllowZeroDateTime=True;ConvertZeroDateTime=True;Charset=utf8mb4"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>